<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div style="display: flex;flex-direction: row;">
    <div id="register-layout">

        <div th:replace="register-common :: register-common"></div>

        <div class="margin-5px">
            <label for="param-update-reason">Причина изменения параметров регистрации</label>
            <div style="width: 350px;">
                <select id="param-update-reason" name="param-update-reason">
                    <option value="1">Замена ФН</option>
                    <option value="2">Замена ОФД</option>
                    <option value="3">Изменение реквезитов</option>
                    <option value="4">Единый сельскохозяйственный налог</option>
                    <option value="5">Изменение настроек ККТ</option>
                </select>
            </div>
        </div>

        <div class="margin-5px">
            <label for="param-update-reason-bit">Причина изменения параметров регистрации</label>
            <div style="width: 350px;">
                <select id="param-update-reason-bit" name="param-update-reason-bit">
                    <option value="0">Замена фискального накопителя</option>
                    <option value="1">Замена оператора фискальных данных</option>
                    <option value="2">Изменение наименования пользователя контрольно-кассовой техники</option>
                    <option value="3">Изменение адреса и (или) места установки (применения) контрольно-кассовой техники
                    </option>
                    <option value="4">Перевод ККТ из автономного режима в режим передачи данных</option>
                    <option value="5">Перевод ККТ из режима передачи данных в автономный режим</option>
                    <option value="6">Изменение версии модели ККТ</option>
                    <option value="7">Изменение перечня систем налогообложения, применяемых при осуществлении расчетов
                    </option>
                    <option value="8">Изменение номера автоматического устройства для расчетов, в составе которого
                        применяется ККТ
                    </option>
                    <option value="9">Перевод ККТ из автоматического режима в неавтоматический режим (осуществление
                        расчетов
                        кассиром)
                    </option>
                    <option value="10">Перевод ККТ из неавтоматического режима (осуществлени е расчетов кассиром) в
                        автоматический режим
                    </option>
                    <option value="11">Перевод ККТ из режима, не позволяющего формировать БСО, в режим, позволяющий
                        формировать БСО
                    </option>
                    <option value="12">Перевод ККТ из режима, позволяющего формировать БСО, в режим, не позволяющий
                        формировать БСО
                    </option>
                    <option value="13">Перевод ККТ из режима расчетов в сети Интернет (позволяющего не печатать кассовый
                        чек
                        и БСО) в режим, позволяющий печатать кассовый чек и БСО
                    </option>
                    <option value="14">Перевод ККТ из режима, позволяющего печатать кассовый чек и БСО, в режим расчетов
                        в
                        сети Интернет (позволяющего не печатать кассовый чек и БСО)
                    </option>
                    <option value="15">Перевод ККТ из режима, позволяющего оказывать услуги платежного агента
                        (субагента)
                        или банковского платежного агента, в режим, не позволяющий оказывать услуги платежного агента
                        (субагента) или банковског о платежного агента
                    </option>
                    <option value="16">Перевод ККТ из режима, не позволяющего оказывать услуги платежного агента
                        (субагента)
                        или банковского платежного агента в режим, позволяющий оказывать услуги платежного агента
                        (субагента) или банковского платежного агента
                    </option>
                    <option value="17">Перевод ККТ из режима, позволяющего применять ККТ при приеме ставок и выплате
                        денежных средств в виде выигрыша при осуществлении деятельности по проведению азартных игр, в
                        режим,
                        не позволяющий применять ККТ при приеме ставок и выплате денежных средств в в иде выигрыша при
                        осуществлении деятельности по проведению азартных игр
                    </option>
                    <option value="18">Перевод ККТ из режима, не позволяющего применять ККТ при приеме ставок и выплате
                        денежных средств в виде выигрыша при осуществлении деятельности по проведению азартных игр, в
                        режим,
                        позволяющий применять ККТ при приеме ставок и выплате денежных средств в виде выигрыша при
                        осуществлении деятельности по проведению азартных игр
                    </option>
                    <option value="19">Перевод ККТ из режима, позволяющего применять ККТ при приеме денежных средств при
                        реализации лотерей ных билетов, электронных лотерейных билетов, приеме лотерейных ставок и
                        выплате
                        денежных средств в виде выигрыша при осуществлении деятельности по проведению лотерей, в режим,
                        не
                        позволяющий применять ККТ при приеме денежных средств при реализации лотерейных билетов,
                        электронных
                        лотерейных билетов, приеме лотерейных ставок и выплате денежных средств в виде выигрыша при
                        осуществлении деятельности по проведению лотерей
                    </option>
                    <option value="20">Перевод ККТ из режима, не позволяющего применять ККТ при
                        приеме денежных средств при
                        реализации лотерейных билетов, электронных лотерейных билетов, приеме лотерейных ставок и
                        выплате
                        денежных средств в виде выигрыша при осуществлении деятельности по проведению лотерей, в режим,
                        позволяющий применять ККТ при приеме денежных средств при реализации лотерейных билетов,
                        электронных
                        лотерейных билетов, приеме лотерейных ставок и выплате денежных средств в виде выигрыша при
                        осуществлении деятельности по проведению лотерей
                    </option>

                    <option value="21" data-content="House Number Street<br>City, State<br>Zip Code">Изменение версии
                        ФФД
                    </option>
                    <option value="31">Иные причины</option>
                </select></div>
            <script>
                $(function () {
                    $('select').selectric();
                });
            </script>
        </div>

        <button type="submit" value="submit" class="btn-submit margin-5px" onclick="postReRegisterData()">Получить
        </button>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div class="info-label" style="display: none">Проверочный режим</div>
        <pre id="response-body"><code></code></pre>
    </div>
</div>
</body>
</html>